@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="registration-container">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-6 col-lg-4">
                <form asp-action="Registration" nethod="post">
                    <h1 class="a-spacing-small text-center">Create account</h1>
                    <div class="form-group">
                        <label asp-for="Login"></label>
                        <input asp-for="Login" class="form-control">
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control">
                        @if (ViewBag.Message != null)
                        {
                            <span class="text-danger">@ViewBag.Message</span>
                        }
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="container">
                        <div class="form-group col-md-offset-3 text-center">
                            <button asp-controller="Registration" asp-action="Registration" class="btn btn-primary">Create Account</button>
                        </div>
                    </div>
                    <div class="a-row">
                        Already have an account?
                        <a class="a-link-emphasis" asp-controller="SignIn" asp-action="Login">Sign-In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
